*{
    margin: 0 auto;
    padding: 0;
}

h1{
    text-align: center;
    padding: 15px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width:50%;
}
input, textarea{    
    margin: 10px;
    width: 50%;
    margin: auto;
    
}
form button{
    background-color: aquamarine;
    width:50%;
}
