

.slider{
    width: 100%;
    overflow: hidden;
}
.photo{
    width:100%;
    text-align: center;
}
.dots{
    list-style:none;
    display:flex;
    justify-content: center;
    margin-top: 10px;
}

.dot{
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: gray;
    cursor: pointer;
}
.next{
    float:right;
}

.dot.active{
    background-color: black;
}

.photo.animated{
    position:absolute;
    left:0;
    top:0;
    transform-origin: right;
    transition: all 1s ease;
}
.photo.animated-right{
    left: -100%;
    transform:translateX(-100%);
}

.photo.hide{
    visibility: hidden;
}